h1{
color:rgb(190, 45, 19);
text-align: center;
text-decoration: underline;
letter-spacing: -2px;
font-size: 2.5em;
}

p{
    font-size: 20px;
    color: rgb(35, 35, 108);
    text-align: justify;
    line-height: 150%;
    letter-spacing: 0.1px;
}

table{
    font-family: 'Roboto', 'Trebuchet MS', sans-serif;
    text-decoration:none;
    
}
#credits{
    text-align: right;
    letter-spacing:0.2px;
}