body{
    background-image: url('https://wallpapercave.com/wp/i2JDlzW.jpg');
    background-size:cover;
    padding: 60px;
    opacity: 1;
    color:rgb(255, 255, 255)

}

#first{
    border:solid 3px black;

}

h1{
color:rgb(190, 45, 19);
text-align: center;
text-decoration: underline;
letter-spacing: -2px;
font-size: 2.5em;
}

p{
    font-size: 20px;
    color: black;
    text-align: justify;
    line-height: 150%;
    letter-spacing: 0.1px;
}
#secondpara{
    margin-top:10px;
    border-bottom-style:groove;
    border-color:black;
    border-width:thin;
}

table{
    font-family: 'Roboto', 'Trebuchet MS', sans-serif;
    text-decoration:none;
    
}
#credits{
    border-style:dotted;
    border-width:thin 1px;
    border-color:indigo;
    padding:1em ;
    text-align: right;
    letter-spacing:0.1px;
    
}